@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #3e3e3e;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
#section-accueil {
	background-size: auto;
	height: 95vh;
	background-image: linear-gradient(to top, #f85032, rgba(255, 255, 255, 0.2)), url('img/picture_7.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.title {
	font-size: 5rem;
	font-weight: 500;
	font-family: 'Dancing Script', sans-serif;
}
.sub-title {
	font-style: italic;
	font-size: 3rem;
	font-weight: 300;
}
.second-sub-title {
	font-style: italic;
	font-size: 1.6rem;
}
.sections {
	padding: 2rem 0;
}

#Notre-histoire {
	min-height: 50vh;
}

.histoire {
	border-radius: 20px;
	padding: 1rem;
	height: 100%;
}

.femme {
	color: #eee;
	background: #f85032;
	background: linear-gradient(to left, #e73827, #f85032);
	box-shadow: 5px 11px 50px rgba(0, 0, 0, 0.9);
}

.homme {
	color: #eee;
	background: #f85032;
	background: linear-gradient(to right, #e73827, #f85032);

	box-shadow: 5px 11px 50px rgba(0, 0, 0, 0.9);
}
.fas {
	font-size: 1.8rem;
	color: #ebbf4f;
}
#section-programme {
	min-height: 50vh;
	color: #eee;
	background-color: rgba(248, 80, 48);
}
.programe {
	list-style: none;
}
.programe li {
	margin-top: 1.5rem;
}
.programe-case {
	display: flex;
	justify-content: center;
	align-items: center;
}
#section-cadeau {
	height: 50vh;
	background-color: #eee;
}
