@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #3e3e3e;

	box-sizing: border-box;
	/*font-size: 62.5%; */
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
#section-accueil {
	background-size: auto;
	height: 95vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/picture_11.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.title {
	font-size: 5rem;
	font-weight: 500;
	font-family: 'Dancing Script', sans-serif;

	color: #fff;
}
.sub-title {
	font-style: italic;
	font-size: 3rem;
	font-weight: 400;
}
.second-sub-title {
	font-style: italic;
	font-size: 1.6rem;
	font-weight: 400;
}
.sections {
	padding: 2rem 0;
}

#Notre-histoire {
	color: #eee;
	min-height: 50vh;

	background-size: auto;

	background-image: url('img/picture_11.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.histoire {
	border-radius: 20px;
	padding: 1rem;
	height: 100%;
}

.femme {
	color: #eee;
	background: #f85032;
	background: linear-gradient(to left, #e73827, #f85032);
	box-shadow: 5px 11px 50px rgba(0, 0, 0, 0.9);
}

.homme {
	color: #eee;
	background: #f85032;
	background: linear-gradient(to right, #e73827, #f85032);

	box-shadow: 5px 11px 50px rgba(0, 0, 0, 0.9);
}
.fas {
	font-size: 1.8rem;
	color: #ebbf4f;
}
#section-programme {
	min-height: 50vh;
	color: #eee;
	background-color: rgba(248, 80, 48);
}
.programe {
	list-style: none;
}
.programe li {
	margin-top: 1.5rem;
}
.programe-case {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-grid {
	/* IE10 */
	display: flex; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-grid {
	/* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column-grid img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column-grid {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column-grid {
		flex: 100%;
		max-width: 100%;
	}
}

#section-cadeau {
	min-height: 80vh;
	color: #eee;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/picture_13.jpg");
	padding: 2rem 0;
	background-attachment: fixed;
	background-size: cover;
}

.lien-cadeaux {
	list-style: none;
}

.lien-cadeaux a {
	display: inline-block;
	padding: 2rem;
}

.fab {
	color: #3b7bbf;
}
.fa {
	color: #3b7bbf;
}

#section-contact {
	min-height: 30vh;
	padding: 3rem 0;
	color: #eee;
	background-image: url('img/picture_14.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container-contact {
	width: 480px;
	height: 500px;
	background-color: #f85032;
	padding: 2rem 2rem;
	border-radius: 10px;
	box-shadow: 5px 11px 50px rgba(0, 0, 0, 0.9);
}
